<html>
  <head>
    <meta charset='UTF-8' />
    <title>Pre-Order Invoice</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 20px;
      background-color: #f2f2f2; } h1 { text-align: center; margin-bottom: 30px;
      color: #3366cc; font-size: 2rem; text-transform: uppercase; } h2 {
      margin-bottom: 10px; font-size: 1.5rem; color: #333; } table { width:
      100%; border-collapse: collapse; margin-top: 20px; } th, td { padding:
      10px; text-align: left; border-bottom: 1px solid #ccc; } th {
      background-color: #f0f0f0; font-weight: bold; color: #333; } p { color:
      #555; line-height: 1.5; } .container { max-width: 800px; margin: 0 auto;
      background-color: #fff; padding: 30px; border-radius: 8px; box-shadow: 0
      2px 4px rgba(0, 0, 0, 0.1); } .total-price { color: red; }
    </style>
  </head>
  <body>
    <div class='container'>

      <h1>Pre-Order Ticket</h1>

      <div>
        <h2>Customer Information</h2>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Phone Number:</strong> {{phoneNumber}}</p>
        <p><strong>Customer Name:</strong> {{customerName}}</p>
      </div>

      <div>
        <h2>Pre-order video game details</h2>
        <table>
          <thead>
            <tr>
              <th>Game</th>
              <th>Pre-Order Quantity</th>
              <th>Number of Rental Days</th>
              <th>Return date</th>
            </tr>
          </thead>
          <tbody>
            {{#each rentedGames}}
              <tr>
                <td>{{name}}</td>
                <td>{{quantity}}</td>
                <td>{{rentalDays}}</td>
                <td>{{returnDate}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div>
        <p class='total-price'><strong>Total price:</strong> {{totalPrice}}</p>
        <p>Thank you for your pre-order. We will contact you when there are any
          issues</p>
        <p>Please note that, your pre-order will expires within 6 hours</p>
        <p>Best regards, F4 Store</p>
      </div>

    </div>
  </body>
</html>